body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/bcg-noise-1.png');
}

#map {
  width: 100%;
  height: 100%;
}

#map.leaflet-container {
  /*background-image: url("app/assets/img/loader-bcg.gif");*/
  /*background-image: url("app/assets/img/vc-bcg-2018.svg");*/
  background-size: contain;
}

.mapControl {
  border: 1px solid rgba(176, 196, 222, .5);
  /*border-radius: 2px;*/
  background-color: rgba(255, 240, 245, .85);
  /*background-color: LightYellow;*/
  box-shadow: 1px 1px 1ex #BBB;
  padding: 1ex;
  font-size: 14px;
  margin-bottom: 1ex;
  /*padding: 1ex;*/
}

#topControl {
  position: absolute;
  top: 1ex;
  right: 1ex;
  z-index: 2;
  max-width: 9em;
}

#topControl form.formControl {
  margin-bottom: 0;
  padding: 1em;
}

#topControl .controlItem {
  color: #777;
  padding-left: 1ex;
}

#topControl .formControl label:hover,
#topControl .formControl label:hover:before {
  /*background-color: MistyRose;*/
  border-bottom: 2px solid SlateBlue;
}

#topControl .formControl input {
  display: inline-block;
}

#topControl .formControl input+label {
  cursor: pointer;
  padding: 2px 0 2px 4px;
  position: relative;
  margin: 0 2ex 0 -0.4em;
  display: inline-block;
  border-bottom: 2px solid transparent;
  /*min-width: 5em;*/
}

#topControl .formControl input:checked+label {
  color: DarkSlateBlue;
  /*background-color: Khaki;*/
  border-bottom: 2px solid DarkSlateBlue;
}

#topControl .formControl label:before {
  content: '\26F6';
  /*background-color: LightYellow;*/
  background-color: rgb(255, 240, 245);
  margin-top: -2px;
  margin-left: -2em;
  padding: 2px;
  padding-right: 1ex;
  border-bottom: 2px solid transparent;
}

#topControl .formControl input:checked+label:before {
  content: '\26DD';
  color: DarkSlateBlue;
  /*background-color: Khaki;*/
  border-bottom: 2px solid DarkSlateBlue;
}

#controlInfo {
  font-size: 12px;
  display: none;
}

#scale {
  cursor: pointer;
  max-width: 8em;
}

#scaleWrapper {
  margin-top: 1em;
}

.formControl .title {
  text-transform: uppercase;
  font-size: 11px;
  /*display: inline-block;*/
  /*padding-bottom: 3px;*/
  margin-bottom: .3ex;
  display: block;
  /*opacity: .6;*/

}

.locBadge {
  text-align: center;
}

.locBadge table {
  font-size: 12px;
}

.locBadge table tr:last-child td {
  font-weight: bold;
  background-color: LightYellow;
}

.locBadge th {
  text-align: right;
  font-weight: normal;
  background-color: rgba(0, 0, 0, .1);
  padding: px 3px;
}

.locBadge td {
  border-top: 1px dotted #CCC;
  padding: 1px 3px;
  text-align: right;
}

.locBadge td.x0 {
  color: #999;
}

.infoBox {
  /*border:2px dotted #999; */
  width: 200px;
  padding: 1em;
  line-height: 1.15;
  /* background-color: WhiteSmoke;*/
}
.leaflet-popup-pane .leaflet-popup header,
.infoBox header {
  font-size: 13px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1ex;
  margin-bottom: 1ex;
}

.infoBox header strong {
  /*font-weight: normal;*/
  /*text-decoration: underline;*/

}

.leaflet-container {
  background-color: transparent !important;
}
}

.legenda small {
  display: block;
}

.legenda span {
  display: inline-block;

}

.leaflet-popup-pane .leaflet-popup  {
  max-width: 250px;
}
.leaflet-popup-pane  .leaflet-popup-content-wrapper {
  border-radius: 3px;
}
.leaflet-popup-pane .leaflet-popup-content {
  margin: 10px;
}
.mapTitle {
 margin: -1em !important;
  background-color: rgb(33,150,243);
  padding: 2.5em 1.75em 2em 3em;
  max-width: 20em;
  border: 1px solid #FFF;
  box-shadow: 0 0 1em rgba(0,0,0,.33); 
  line-height: 1.2;
  color: White;
  text-shadow: 1px 1px 1px rgba(0,0,0,.33);
}
.mapTitle h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: .5ex;
  font-weight: normal;
}
.mapTitle span {
  font-size: 14px;
  /*opacity: .8;*/
}
.mapTitle a {
  color: LightYellow !important;
}
@media screen and (max-width: 800px) {
  #topControl {
     max-width: 100%;
      background-color: rgb(33,150,243);
      color: White;
      text-shadow: 1px 1px 1px rgba(0,0,0,.2); 
      top: 0;
      right: 0;
      margin: 0;
      padding-bottom: 0;
  /*left: 0;*/
  }
  #topControl .formControl label {
     color: WhiteSmoke;
  }
  #topControl .formControl label:before  {
    background-color: rgb(33,150,243);
    color: WhiteSmoke;
    border: none;
  }
  #topControl .formControl input:checked+label,
  #topControl .formControl input:checked+label:before {
    color: Yellow;
    border: none;
  }
  #topControl:before{
    content: 'Prezența la vot la referendumul pentru modificarea Constituției – octombrie 2018';
    border-bottom: 1px solid #CCC;
    padding-bottom: 1ex;
    margin-top: 1ex;
    font-size: 17px;
    display: block;
    line-height: 1.4;
  }
  #topControl .controlItem {
    display: inline-block;
    /*margin: .25ex 0;*/
    line-height: 1.5;
  }
  #topControl .formControl {
    padding: .5ex !important;
  }
  #scaleWrapper,
  .leaflet-control-attribution,
  .controlItem.legenda,
  .mapTitle,
  #timestamp,
  .formControl .title  {
    display: none !important;
  }
}

